* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(120deg, #020617, #0f172a);
    color: white;
    min-height: 100vh;
}

/* NAVBAR */
header {
    padding: 18px 60px;
    display: flex;
    justify-content: space-between;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}

header h1 {
    color: #38bdf8;
    cursor: pointer;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
}

nav a:hover {
    color: #38bdf8;
}

/* CONTENT */
.container {
    padding: 60px;
}

.container h2 {
    font-size: 32px;
    margin-bottom: 8px;
}

.subtitle {
    color: #cbd5f5;
    margin-bottom: 30px;
}

/* REQUEST CARD */
.request-card {
    max-width: 600px;
    background: rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.1);
}

.request-card h3 {
    color: #38bdf8;
    margin-bottom: 15px;
}

.request-card p {
    margin-bottom: 10px;
    color: #e5e7eb;
}

/* BUTTONS */
.actions {
    margin-top: 20px;
}

button {
    padding: 10px 22px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.3s;
}

.approve {
    background: #22c55e;
    color: white;
}

.approve:hover {
    transform: scale(1.05);
}

.reject {
    background: #ef4444;
    color: white;
}

.reject:hover {
    transform: scale(1.05);
}

.status-msg {
    margin-top: 15px;
    font-weight: bold;
    color: #38bdf8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #94a3b8;
    margin-top: 40px;
}
