* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(120deg, #020617, #0f172a);
    color: white;
    min-height: 100vh;
}

/* NAVBAR */
header {
    padding: 18px 60px;
    display: flex;
    justify-content: space-between;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}

header h1 {
    color: #38bdf8;
    cursor: pointer;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* CONTENT */
.container {
    padding: 60px;
}

.container h2 {
    font-size: 32px;
    margin-bottom: 8px;
}

.subtitle {
    color: #cbd5f5;
    margin-bottom: 30px;
}

/* STATS */
.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: rgba(255,255,255,0.08);
    padding: 25px;
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.1);
}

.card h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.card p {
    font-size: 28px;
    font-weight: bold;
}

/* TABLE */
.table-card {
    background: rgba(255,255,255,0.08);
    padding: 25px;
    border-radius: 16px;
}

.table-card h3 {
    margin-bottom: 15px;
    color: #38bdf8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #38bdf8;
}

td {
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #94a3b8;
    margin-top: 40px;
}
