/* ===== LOGIN PAGE ===== */
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px; /* because navbar is fixed */
}

.login-card {
  width: 420px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 10px;
}

.subtitle {
  color: #cbd5f5;
  margin-bottom: 25px;
}

label {
  display: block;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: rgba(255,255,255,0.15);
  color: white;
  outline: none;
}

input::placeholder {
  color: #cbd5f5;
}

button {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, #38bdf8, #0ea5e9);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(56,189,248,0.5);
}

.note {
  margin-top: 15px;
  font-size: 12px;
  color: #94a3b8;
}